<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    @*libraries*@
    <link href="~/CSS/Libraries/jquery-ui.css" rel="stylesheet" />
    <link href="~/CSS/Libraries/ionicons.min.css" rel="stylesheet" />
    <link href="~/Content/Fonts/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/Content/Libraries/clockpicker/dist/bootstrap-clockpicker.css" rel="stylesheet" />
    <link href="~/Content/Libraries/clockpicker/assets/css/github.min.css" rel="stylesheet" />
    <link href="~/CSS/Libraries/bootstrap.min.css" rel="stylesheet" />

    <link href="~/CSS/Common/common.css" rel="stylesheet" />
    <link href="~/CSS/Custom/ui-custom.css" rel="stylesheet" />
    <link href="~/CSS/Custom/jquery-ui-custom.css" rel="stylesheet" />
    <link href="~/CSS/Common/control.css" rel="stylesheet" />
    <link href="~/CSS/Custom/table.css" rel="stylesheet" />
    <link href="~/CSS/Custom/icon.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    @*<link href="~/CSS/Libraries/font-nunito.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href="~/CSS/Common/main.css" rel="stylesheet" />
    <link href="~/CSS/Custom/nav.css" rel="stylesheet" />
    @if (IsSectionDefined("style"))
    {
        @RenderSection("style", required: false)
    }
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white m-navbar">
            <div class="navbar-header">
                <div class="root-sibar"></div>
                <a href='@Url.Action("Index", "Home")' class="navbar-brand bida-logo"><div class="fa-ct"><i class="far fa-laugh-wink icon-spin"></i></div>bida69<sup>.com</sup></a>
            </div>
            <div class="navbar-header-right">
                <div class="btn-logout"><i class="ion ion-ios-log-out"></i>  Đăng xuất</div>
            </div>

            @*<div class="container">


                </div>*@
        </nav>
    </header>
    @*TAB*@
    <div class="body-content m-container">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa fa-tasks fa-1x lds-circle"></i>  Quản lý dịch vụ</a>
                <a class="nav-item nav-link" id="nav-inventory-tab" data-toggle="tab" href="#nav-inventory" role="tab" aria-controls="nav-inventory" aria-selected="false"><i class="fas fa-cart-arrow-down fa-1x"></i>  Quản lý mặt hàng</a>
                <a class="nav-item nav-link" id="nav-statistic-tab" data-toggle="tab" href="#nav-statistic" role="tab" aria-controls="nav-statistic" aria-selected="false"><i class="fas fa-chart-line fa-1x"></i>  Thống kê</a>
                <a class="nav-item nav-link" id="nav-setting-tab" data-toggle="tab" href="#nav-setting" role="tab" aria-controls="nav-setting" aria-selected="false"><i class="fas fa-cogs fa-1x"></i>  Cài đặt</a>
            </div>
            <div id="btnSale" class="btnSale btn btn-primary"><i class="fas fa-cart-plus"></i> Bán hàng</div>
        </nav>
        <div class="m-content">
            <div class="tab-content tab-content-ct" id="nav-tabContent">
                @RenderBody()
            </div>
        </div>

    </div>
    <footer>
        <div class="container">
            &copy; @DateTime.Now.Year - Bản quyền được cung cấp bởi Nguyễn Mạnh <a href="https://msoft.vn">https://www.msoft.vn/</a>
        </div>
    </footer>
    @*<div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>*@
    <script src="~/Scripts/Libraries/jquery-3.3.1.js"></script>
    <script src="~/Scripts/Libraries/modernizr-2.8.3.js"></script>
    <script src="~/Content/Libraries/bootstrap-4.3.1/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/Libraries/popper.min.js"></script>
    <script src="~/Scripts/Libraries/jquery-ui.min.js"></script>
    <script src="~/Content/Libraries/clockpicker/dist/bootstrap-clockpicker.js"></script>
    <script src="~/Scripts/Controls/dialog.js"></script>
    <script src="~/Scripts/Commons/common.js"></script>
    <script src="~/Scripts/Commons/ajaxService.js"></script>
    <script src="~/Scripts/Admin/account.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>

